:root {
  --primary-font-family: "Arima Madurai", cursive;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-color: #ea1953;
  --secondary-color: #ffffff;
  --accent-color: #495057;
}

h1 {
  font-family: var(--primary-font-family);
  color: var(--accent-color);
  margin-top: 150px;
}

h4 {
  font-family: var(--secondary-font-family);
  color: var(--accent-color);
}

h5 {
  font-family: var(--primary-font-family) !important;
}

ul {
  margin-top: 15px;
  margin-bottom: 100px;
  list-style: none;
  padding: 0;
  font-family: var(--secondary-font-family);
}

li {
  margin: 0;
  padding: 5px 0;
}

p {
  font-family: var(--secondary-font-family);
}

.col-sm-2 {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.small-img {
  margin: 0 auto;
  display: block;
  padding: none;
  border: 7px solid #fff;
}

.hero-leftside {
  font-weight: 700;
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  text-align: center;
  margin-top: 30px;
}

.trainings {
  font-size: 12px;
}

.social-media {
  font-family: var(--primary-font-family);
  font-weight: 700;
}

.fa-xing {
  background: var(--primary-color);
  margin-bottom: 320px;
}

.fa-instagram,
.fa-xing {
  padding: 10px 0;
  text-align: center;
}

.instagram,
.xing {
  font-family: var(--secondary-font-family);
  font-size: 12px;
  padding-top: 15px;
  text-align: center;
  }

.bg-img {
  background: url("/images/me.png");
  background-repeat: no-repeat;
  background-position: fixed;
}

.navigation-links,
.btn-portfolio,
.btn-contact {
  font-family: var(--secondary-font-family);
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-portfolio:hover,
.btn-contact:hover {
  cursor: pointer;
}

.btn-portfolio {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-contact {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.links-in-string {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  
}

.links-in-string:hover {
  font-family: var(--primary-font-family);
  text-decoration: underline;
  cursor: pointer;
}

.card {
  display: block;
  margin: 0 auto;
}

.card-2 {
  margin-bottom: 30px;
}
