:root {
  --primary-font-family: "Arima Madurai", cursive;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-color: #ea1953;
  --secondary-color: #ffffff;
  --accent-color: #495057;
}


h1 {
  font-family: var(--secondary-font-family);
  color: var(--accent-color);
  font-size: 30px;
}

@media (max-width: 780px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-family: var(--primary-font-family);
  color: var(--accent-color);
  margin-top: 100px;
  font-size: 50px;
}

@media (max-width: 780px) {
  h2 {
    margin-top: 50px;
    font-size: 45px;
  }
}

h4 {
  font-family: var(--primary-font-family) !important;
  font-size: 24px;
}

@media (max-width: 780px)  {
  h4 {
   font-size: 16px;
  }
}

ul {
  margin-top: 15px;
  margin-bottom: 100px;
  list-style: none;
  padding: 0;
  font-family: var(--secondary-font-family);
}

li {
  margin: 0;
  padding: 5px 0;
}

p {
  font-family: var(--secondary-font-family);
}

@media (max-width: 780px) {
  p {
    font-size: 12px;
  }
}

.col-sm-2 {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.small-img {
  margin: 0 auto;
  display: block;
  padding: none;
  border: 7px solid #ffffff;
}

@media (max-width: 780px) {
  .small-img {
    margin-bottom: 7px;
  }
}

.hero-leftside {
  font-weight: 700;
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 780px) {
  .hero-leftside {
    display: none;
  }
}

.trainings {
  font-size: 12px;
}

@media (max-width: 780px) {
  .trainings {
    display: none;
  }
}

.social-media {
  font-family: var(--primary-font-family);
  }

@media (max-width: 780px) {
  .social-media {
    display: none;
  }
}

.fa-xing {
  background: var(--primary-color);
  margin-bottom: 320px;
}

.fa-instagram,
.fa-xing {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 780px) {
  .fa-instagram,
  .fa-xing {
    font-size: 12;
  }
}

.instagram-link,
.xing-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  text-align: center;
}

.instagram-link:hover ,
.xing-link:hover {
  cursor: pointer;
}

.instagram-link:visited,
.xing-link:visited {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: var(--seconary-font-family);
  font-size: 12px;
  text-align: center;
}

.trainings-mobile-devices {
  font-size: 10px;
  padding: 0 20px;
}

@media (min-width: 780px) {
  .trainings-mobile-devices {
    display: none;
  }
}

.enclosing-Europe {
  opacity: 0.8;
}

.and-more {
  font-size: 18px;
}

@media (max-width: 780px) {
.and-more {
  display: none;
  }
}

.navigation-links,
.btn-about,
.btn-contact,
.btn-projects,
.btn-index {
  font-family: var(--secondary-font-family);
}

@media (max-width: 900px) {
  .navigation-links,
  .btn-about,
  .btn-contact,
  .btn-projects,
  .btn-index {
    font-size: 12px;
  }
}

.btn-about:hover,
.btn-contact:hover,
.btn-projects:hover,
.btn-index:hover {
  cursor: pointer;
}

.btn-about {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-about:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-contact {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-contact:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.project-selection {
  font-family: var(--primary-font-family);
  padding-top: 40px;
}

.btn-projects {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-projects:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.links-in-string {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
}

.links-in-string:hover {
  text-decoration: underline;
  cursor: pointer;
}

.links-in-string:visited {
  color: var(--primary-color);
}

.col-md-8 {
  border: 1px solid var(--accent-color);
}

.card {
  display: block;
  margin: 0 auto;
}

.coded {
  font-family: var(--secondary-font-family);
  font-size: 13px;
  color: (--accent-color);
}

@media (max-width: 780px) {
.coded {
  font-size: 10px;
  }
}

.github {
  font-weight: 600;
  color: var(--primary-color);
}

.about-section .social-media {
  margin-top: 30px;
}

.about-section h1 {
  margin: 30px 0;
}

.btn-index {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-index:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

